<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="x__Ns96.com" android:versionCode="1" android:versionName="1.0" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="21" />
	<application android:allowBackup="true" android:theme="@android:style/Theme.NoTitleBar.Fullscreen" android:label="楠槡Ns96.com"></application>
</manifest>